/**
 * Gruvbox light theme
 *
 * Based on Gruvbox: https://github.com/morhetz/gruvbox
 * Adapted from PrismJS gruvbox-dark theme: https://github.com/schnerring/prism-themes/blob/master/themes/prism-gruvbox-dark.css
 *
 * @author Michael Schnerring (https://schnerring.net)
 * @version 1.0
 */

code[class*="language-"],
pre[class*="language-"] {
    color: #3c3836 !important; /* fg1 / fg */
    font-family: Consolas, Monaco, "Andale Mono", monospace !important;
    direction: ltr !important;
    text-align: left !important;
    white-space: pre !important;
    word-spacing: normal !important;
    word-break: normal !important;
    line-height: 1.5 !important;

    -moz-tab-size: 4 !important;
    -o-tab-size: 4 !important;
    tab-size: 4 !important;

    -webkit-hyphens: none !important;
    -moz-hyphens: none !important;
    -ms-hyphens: none !important;
    hyphens: none !important;
}

pre[class*="language-"]::-moz-selection,
pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection,
code[class*="language-"] ::-moz-selection {
    color: #282828 !important; /* fg0 */
    background: #9e9281 !important; /* bg4 */
}

pre[class*="language-"]::selection,
pre[class*="language-"] ::selection,
code[class*="language-"]::selection,
code[class*="language-"] ::selection {
    color: #282828 !important; /* fg0 */
    background: #a89984 !important; /* bg4 */
}

/* Code blocks */
pre[class*="language-"] {
    padding: 1em !important;
    margin: 0.5em 0 !important;
    overflow: auto !important;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
    background: #e3e0bb !important; /* bg0_h */
}

/* Inline code */
:not(pre) > code[class*="language-"] {
    padding: 0.1em !important;
    border-radius: 0.3em !important;
}

.token.comment,
.token.prolog,
.token.cdata {
    color: #7c6f64 !important; /* fg4 / gray1 */
}

.token.delimiter,
.token.boolean,
.token.keyword,
.token.selector,
.token.important,
.token.atrule {
    color: #9d0006 !important; /* red2 */
}

.token.operator,
.token.punctuation,
.token.attr-name {
    color: #7c6f64 !important; /* fg4 / gray1 */
    background-color: transparent !important;
}

.token.tag,
.token.tag .punctuation,
.token.doctype,
.token.builtin {
    color: #b57614 !important; /* yellow2 */
}

.token.entity,
.token.number,
.token.symbol {
    color: #8f3f71 !important; /* purple2 */
}

.token.property,
.token.constant,
.token.variable {
    color: #9d0006 !important; /* red2 */
}

.token.string,
.token.char {
    color: #797403 !important; /* green2 */
}

.token.attr-value,
.token.attr-value .punctuation {
    color: #7c6f64 !important; /* fg4 / gray1 */
}

.token.url {
    color: #797403 !important; /* green2 */
    text-decoration: underline !important;
}

.token.function {
    color: #b57614 !important; /* yellow2 */
}

.token.regex {
    background: #797403 !important; /* green2 */
}

.token.bold {
    font-weight: bold !important;
}

.token.italic {
    font-style: italic !important;
}

.token.inserted {
    background: #7c6f64 !important; /* fg4 / gray1 */
}

.token.deleted {
    background: #9d0006 !important; /* red2 */
}
