@import "tailwindcss";

@font-face {
    font-family: "Styrene";
    src: url("/src/assets/font/Styrene-regular.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #F2EFC7;
    /*background-color: white;*/
    /*font-family: "Styrene", Times, serif;*/
    font-family: "Times New Roman", sans-serif;
    scroll-behavior: smooth;

}
.titleHome{
    font-family: "Styrene", Times, serif;
}
/* HTML: <div class="loader"></div> */
/* HTML: <div class="loader"></div> */
.loader {
    width: fit-content;
    font-weight: bold;
    font-family: "Times New Roman", sans-serif;
    font-size: 20px;
    clip-path: inset(0 3ch 0 0);
    animation: l4 1s steps(4) infinite;
}
.loader:before {
    content:"The more you wait, the more you see  \..."
}
@keyframes l4 {to{clip-path: inset(0 -1ch 0 0)}}

/* SELECT TEXT STYLE*/

::selection{
    background: #95b684;
    color: black;
}
/*SCROLLBAR STYLING*/
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
::-webkit-scrollbar-track {
    background: #e5e2bc;
}
::-webkit-scrollbar-thumb {
    background: #95b684;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background: #8eaa80;
}